@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet');

body  {
  margin: 0;
}

/* #section1 {
  width: 100vw;
  height: 100vw;
  background-size: 85%;
  background-position: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("https://i.imgur.com/A0AUxpt.png")
}
#section2 {
  width: 100vw;
  height: 100vw;
  background-size: 85%;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://i.imgur.com/f5tJEOt.png")
  }

#section4{
 width: 100vw;
}

#section3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

#section1, #section2, #section4 {
 width: 100vw;
 margin: 0 40px 0 80px;
}


#section3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


@media(max-width: 1200px) {
  #section3{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media(max-width: 1200px) {
  #section5{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 800px) {
  #section5{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media(max-width: 800px) {
  #section3{
    display: grid;
    grid-template-columns: 1fr;
  }
}


.box {
  padding-top: 30px;
  padding-bottom: 30px;

  position: relative;
  border: solid 2px #ff66c4;
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.titel {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;

}
.box .imgBox {
/*   position: relative; */
  overflow: hidden;
}

.box .imgBox img {
  max-width: 100%;
  transition: transform 2s;
}

.box:hover .imgBox img {
  transform: scale(1.2);
}

.box .description {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(111, 214, 255, .9);
  transform: scaleY(0);
  transition: transform .5s;
}

.box:hover .description {
  transform: scaleY(1);
}
.box .description .projects {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: black;
}

.box .description .projects h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f6881e;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.box .description .projects h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f6881e;
  font-size: 16px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: underline;
}
.box .description .projects h3 a {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f6881e;
  font-size: 16px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: underline;
}
.box .description .projects p {
  margin: 10px 0 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  line-height: 1.6;

}

.gitHub {
  background-size: 60%;
  background-repeat: no-repeat;
}

#section5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4px;
}
#section5 p {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.footer{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 14px;
  text-align: center;
}
#section5 img {
  width: 100px;
  height: 100px;

}


#section5 a {
  text-decoration: underline;
  color: #cb6ce6;
}
