@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap" rel="stylesheet');

body  {
  margin: 0;
}

.document {
  padding: 7em 0;
  background: 50% 50% / cover no-repeat;
  background-attachment: fixed;
  height: 80vh;
}

#section1 {
  background-image: url("https://i.imgur.com/PkQ9GXT.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top;
  /* padding: 6em 0; */
  height: 80vh;
}

#section2 {
    background-image: url("https://i.imgur.com/J7pVvcj.png");
    background-size: 70%;
    background-position:top;
    background-repeat: no-repeat;
    height: 80vh;

}

#section3 {
  background-image: url("https://i.imgur.com/HoepogT.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 7em 0;
  height: 80vh;

}

#section4 {
  /* background-image: url("https://i.imgur.com/lDBemQg.png"); */
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top;
  padding: 7em 0;
  height: 70vh;
}


/* section 3 pictures */

.section3container {
  min-height: 650px;
  /* background: pink; */
  /* margin: 70px auto 0; */
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.section3container .box {
  position: relative;
  min-width: 360px;
  height: 300px;
  border: solid 2px #ff66c4;
  border-radius: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.section3container .box .imgBox {
  position: relative;
  overflow: hidden;

}

.section3container .box .imgBox img {
  max-width: 100%;
  transition: transform 2s;
  margin-top: 45px;
}

.section3container .box:hover .imgBox img {

  transform: scale(1.2);
}

.section3container .box .description {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(111, 214, 255, .9);
  transform: scaleY(0);
  transition: transform .5s;
}

.section3container .box:hover .description {
  transform: scaleY(1);
}
.section3container .box .description .projects {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
}

.section3container .box .description .projects h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f6881e;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.section3container .box .description .projects h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f6881e;
  font-size: 16px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: underline;
}
.section3container .box .description .projects h3 a {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #f6881e;
  font-size: 16px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-decoration: underline;
}
.section3container .box .description .projects p {
  margin: 10px 0 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  line-height: 1.6;

}

.gitHub {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: top;
}

#section4 p {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 24px;

}

#section4 img {
  width: 10%;
  height: 10%;
  margin-left: 100px;
  padding: 10px;
}


#section4 a {
  text-decoration: underline;
  color: #cb6ce6;
}
